.important-task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.05rem;
  margin: 0.3rem 0;
  background-color: #cdb4db;
  position: relative;
}

.important-task-item__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.important-task-item h5 {
  margin: 0 1rem;
  color: #4c0707;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.important-task-item:hover {
  cursor: pointer;
}

.important-task-item .date {
  max-width: 35px;
  min-width: 35px;
  height: 35px;
  margin: 0.5rem;
  padding: 0.2rem;
  border: 1px solid #4c0707;
  border-radius: 3px;
  color: #4c0707;
  text-align: center;
}
